body{
	margin: 0px;
	background-color: #C4C4C4;
	color: white;
}

footer{
  position: absolute;
  background-color: #444465;
  width: 100%;
  height:50px;
  top:1225px;
  text-align: center;
}

.tableindex{
	top: 0px;
	text-align: center;
	height: 50px;
	width: 100%;
	position: absolute;
	background-color: #444465;

}

.tablelist{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align: left;
	border-color: black;
	border-spacing: 2px;
	margin-top: 85px;
	position: absolute;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #444465;
}

.tablecont{

	text-align: center;
	border-color: black;
	border-spacing: 2px;
	margin-top: 60px;
	position: absolute;
	width: 82%;
	height: 500px;
	margin-left: 8%;
	margin-right: 8%;
}

#buttonlist{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 

}

#buttonlink1{
	border-top-left-radius: 15px;
	background-color: transparent;
}

#buttonlink2{
	background-color: transparent;
}

#buttonlink3{
	border-bottom-left-radius: 15px;
	background-color: transparent;
}

#buttonbusca{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

}

#buttoncontato{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; 

}

#buttonindex{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;

}

#buttongit{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
}

#buttondin{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-right-radius: 15px;
}

#buttoninsta{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
}

#buttonface{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-bottom-right-radius: 15px; 
}

#buttonemail{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#trinicio{
	width: 50%;
}