body{
	margin: 0px;
	background-color: #F2E49B;
}


.tableindex{
	top: 0px;
	text-align: center;
	height: 50px;
	width: 100%;
	position: absolute;
	background-color: #8C470B;

}

.tablelist{
	text-align: justify;
	border-color: black;
	border-spacing: 2px;
	margin-top: 85px;
	position: absolute;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #8C470B;
}

#buttoninicio{
	background-color: #F2AB27;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 

}

#buttoncontato{
	background-color: #F2AB27;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; 

}
#buttonindex{
	background-color: #F2AB27;
	width: 100%;
	height: 100%;
	border-color: transparent;

}
