body{
	margin: 0px;
	background-color: #C4C4C4;
	color: white;
}


.tableindex{
	top: 0px;
	text-align: center;
	height: 50px;
	width: 100%;
	position: absolute;
	background-color: #444465;

}

.tablelist{
	text-align: left;
	border-color: black;
	border-spacing: 2px;
	margin-top: 85px;
	position: absolute;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #444465;
}

#buttonlist{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 

}
#buttonbusca{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

}

#buttoncontato{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; 

}
#buttonindex{
	color: white;
	background-color: #2E2E54;
	width: 100%;
	height: 100%;
	border-color: transparent;

}

#trinicio{
	width: 50%;
}